/*canvas {
border-color: red;
border-style: solid;
border-width: 1px;
}
*/

html,
body,
main,
header,
footer {
  margin: 0;
  padding: 0;
}

html,
body,
main {
  height: 100%;
  width: 100%;
}

body {
  /* light text on dark backgrounds; safari looks different than other browsers */
  -webkit-font-smoothing: subpixel-antialiased;
  overflow: hidden;
}

h1,
h2,
h3,
h4 {
  /*bootstrap puts a huge margin top, which pushes the menus down, and lets the body show through in a gap at the top of the screen */
  text-align: center;
}


/**/

.nav,
.pagination,
.carousel,
.panel-title a {
  cursor: pointer;
}

* {
  font-size: 16px;
}

.ga-noselect,
.ga-canvas {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  /*cursor: default;*/
}

.ga-inactive main {
  -webkit-filter: blur(1.5px);
}


/* ----------------------------------------------
 overgrey
*/

div.ga-biggrey {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  opacity: 0.3;
  background-color: black;
  z-index: 100;
}

div.ga-overgrey {
  width: 100%;
  height: 100%;
  /* use "fixed" to pop out of the game window*/
  position: fixed;
  top: 0;
  left: 0;
  /*background-color: yellow;*/
  opacity: 0;
}

.ga-overgrey.ga-greyignore {
  cursor: not-allowed;
}

.ga-overgrey.ga-greydismiss {
  /*cursor: pointer;
its actually nice to see some change in the cursor i think*/
  cursor: default;
}

.ga-overgrey.ga-greyshow {
  opacity: 0.45;
  background-color: black;
}


/* ----------------------------------------------
 mouse cursor
*/

.ga-cursor {
  position: absolute;
  color: lightsteelblue;
  pointer-events: none;
  text-shadow: 1px 0px #2e6da4, -1px 0px #2e6da4, 0px 1px #2e6da4, 0px -1px #2e6da4, 1px 1px 2px black;
}


/* matches cursor service */

.ga-cursor i {
  width: 36px;
  height: 42px;
  position: relative;
}

.ga-tooltip {
  position: absolute;
  left: 18px;
  text-align: center;
  transform: translateX(-50%);
  text-transform: capitalize;
}


/* ----------------------------------------------
 menu display
*/

.ga-menus {
  background-color: #337AB7;
  color: white;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.ga-menus a {
  cursor: pointer;
}

.ga-menus a.ga-link {
  text-transform: uppercase;
}

.ga-home-button {
  position: fixed;
}

.ga-menus .btn {
  margin-bottom: 10px;
}


/*
 lists of things.
*/

.ga-options {
  margin: 0 auto;
  width: 25%;
}


/* ----------------------------------------------
main menu
*/

.ga-main {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
}

.ga-main-fg {
  /* center the menu horizontally */
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  background-color: #759980;
  overflow: hidden;
  height: 100%;
  width: 820px;
  margin: 0 auto;
  border-style: solid;
  border-width: 15px;
  outline-style: none;
  padding: 20px;
  border-color: white;
}

.ga-main:after {
  /* overwrite the bottom with a fake border; 
the real borders expand outside the measured ga-main-fg 100% height */
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background: white;
  height: 20px;
}

.ga-main .btn {
  background-color: white;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
  /* cant seem to reset the width from the parent 100% */
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  text-transform: uppercase;
  color: #f8d513;
  background-color: #e6311d;
  text-shadow: 2px 2px black;
  border-style: none;
  font-family: arial, sans-sarif;
}

.ga-main .btn ng-transclude > span {
  font-size: 38px;
  font-weight: bolder;
  line-height: 38px;
  padding: 20px;
}

.ga-main .btn:hover {
  background-color: #dbb900;
  color: whitesmoke;
}


/*http://lea.verou.me/css3patterns/#carbon*/

.ga-main-bg {
  background: linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px, linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px, linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px, linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px, linear-gradient(90deg, #1b1b1b 10px, transparent 10px), linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
  background-color: #131313;
  background-size: 20px 20px;
  opacity: 0.25;
}

.ga-main-char {
  position: absolute;
  /*left: 50%;
  transform: translateX(-50%);*/
  /*overflow:hidden;*/
  width: 100%;
}

.ga-alice {
  right: 0px;
  top: -30px;
  width: 180px;
  height: 180px;
}

.ga-alice > div {
  width: 145px;
  height: 145px;
  margin: 0 auto;
  margin-top: 15px;
  background-image: url("/bin/images/alice-down.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 0 0px;
}

.ga-boy {
  width: 125px;
  height: 125px;
  right: 50px;
  top: 300px;
}

.ga-boy > div {
  background-image: url("/bin/images/alien-color.png");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  left: 30px;
  top: 50px;
  width: 60px;
  height: 60px;
}

.ga-daphne {
  top: 350px;
  left: 20px;
  width: 90px;
  height: 90px;
}

.ga-daphne > div {
  /*width: 100px;
  height: 100px;
  padding: 50px;*/
  position: absolute;
  top: -10px;
  left: -5px;
  width: 90px;
  height: 90px;
  transform: scaleX(-1);
  background-image: url("/bin/images/daphne.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.ga-spark {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  background-image: url("/bin/images/spark.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.ga-hole {
  position: absolute;
  border-radius: 50% !important;
  border-color: #f8d513;
  border-style: solid;
  border-width: 4px;
  outline: none !important;
  background-color: black;
  background-image: url("/bin/images/starfield3.png");
  box-shadow: -1px 0px #6d6d32, 0px -1px #6d6d32, 1px 0px #6d6d32, 1px 1px #6d6d32, 0px 1px #6d6d32, 1px 1px #6d6d32;
}

.ga-version {
  color: black;
  font-family: monospace;
  text-align: center;
  margin-top: 10px;
  opacity: 0.8;
  font-size: smaller;
}

.ga-tag-line {
  text-align: center;
  vertical-align: center;
  text-transform: uppercase;
  color: #f4b256;
  font-size: 26px;
  line-height: 30px;
  padding-top: 20px;
  margin: 0;
  font-stretch: ultra-condensed;
  font-weight: lighter;
  font-family: arial, sans-sarif;
}

.ga-title-all {
  position: relative;
  z-index: 1;
}

.ga-title-all > div {
  line-height: 80px;
  font-family: arial, sans-sarif;
}

.ga-title-all div {
  margin: 0;
}

.ga-title {
  z-index: 6;
  position: absolute;
}

.ga-shadow {
  position: relative;
  color: black;
  left: 3px;
  top: 3px;
  z-index: 1;
}

.ga-title-x {
  font-weight: bold;
  font-size: 100px;
  font-variant: small-caps;
}

.ga-title-y {
  text-transform: uppercase;
  padding-left: 60px;
  padding-right: 20px;
  display: inline-block;
  -webkit-transform: scale(1, 2);
}

.ga-title-y div {
  line-height: 28px;
  font-size: 28px;
  font-family: arial, sans-sarif;
  /* why does it get pushed down so far? i dont know. */
  margin-top: -80px;
}

.ga-title-z {
  text-transform: uppercase;
  display: inline-block;
}

.ga-title-z div:nth-child(2) {
  line-height: 0.8em;
}

.ga-title-c {
  color: #e6311d;
}

.ga-title-z div {
  font-weight: bold;
  font-size: 80px;
}

.ga-title-g {
  background: -webkit-linear-gradient(#ffe144, #e6311d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


/* ----------------------------------------------
saved games
*/

.ga-first-header {
  /*avoid the white gap of body background*/
  margin-top: 0;
}

.ga-load-games {
  height: 80vh;
  width: 100%;
  overflow-y: scroll;
}

.ga-saved ul {
  margin: 0 auto;
  width: 50%;
}

.ga-saved .location {
  text-transform: capitalize;
}


/* ----------------------------------------------
credits
*/

.ga-credits {
  text-align: center;
  height: 90vh;
  overflow-y: scroll;
}

.ga-credits-header > h3 {
  /* dear css margins, please stop mucking with my page */
  padding-top: 20px;
  margin-top: 0;
}

.ga-credits h1 {
  width: 100%;
  background-color: #286090;
}

.ga-credits h2 {
  text-decoration: underline;
  color: whitesmoke;
}

.ga-credits h3 {
  margin-bottom: 0;
}

.ga-credits a {
  color: white;
  font-size: small;
}

.ga-credits .author {
  font-size: small;
}

.ga-credits a.url {
  text-decoration: underline;
}


/* ----------------------------------------------
    main display
*/

.ga-play {
  /*relative for bottom edge popups */
  position: relative;
  width: 768px;
  /*24x32; hall, heart are larger.*/
  height: 640px;
  /*20x32; no maps are larger.*/
  border-radius: 20px;
  /*overflow: hidden;*/
  /* override the normal centering, leave just a litle room after the title */
  top: 8px;
  left: 50%;
  margin-left: -383px;
  /*https://bugs.chromium.org/p/chromium/issues/detail?id=157218*/
  z-index: 1;
  background-color: rgb(66, 81, 77);
}

.ga-mouse-hide {
  cursor: none;
}

.ga-map {
  border-radius: 20px;
  overflow: hidden;
}

.ga-the-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ga-canvas,
.ga-display {
  margin: 0;
  padding: 0;
  position: absolute;
}


/* ----------------------------------------------
status  bar
*/

.state-display {
  position: absolute;
  left: 0;
  top: 0;
  max-height: 600px;
  margin: 0 auto;
  border: thin solid black;
  background-color: white;
  padding: 2px;
  z-index: 1;
  /* for ga-play */
}


/* ----------------------------------------------
states debugging
*/

hsm-state {
  margin-left: 2px;
  display: block;
}

.hsm-state-label {
  font-size: x-small;
}


/* ----------------------------------------------
action  bar
*/

.ga-actionbar {
  position: absolute;
  z-index: 1000;
  border-style: solid;
  border-width: 3px;
  /*border-color: rgba(176, 196, 222, 0.8);*/
  border-color: lightsteelblue;
  border-radius: 50% !important;
  outline: none !important;
  width: 84px;
  height: 84px;
  margin-left: -42px;
  margin-top: -42px;
}

.ga-actionbar .btn {
  position: absolute;
  background-color: lightslategrey;
  color: white;
  border-width: 3px;
  border-color: lightsteelblue;
  border-radius: 50% !important;
  outline: none !important;
  font-size: xx-small;
  width: 42px;
  height: 42px;
  line-height: 42px;
  margin: 0;
  padding: 0;
}


/* ----------------------------------------------
button bar
*/

.ga-buttonbar .btn,
.ga-invbar .btn {
  margin: 0.2em 0.3em;
  border-radius: 50% !important;
  outline: none !important;
  width: 50px;
  height: 50px;
  /*display: inline-block;*/
}

.ga-recent-item {
  position: relative;
}

.ga-recent-item img {
  max-width: 36px;
  max-height: 36px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


/*
.ga-buttonbar a.btn:after {
  content: '';
  pointer-events: none;
  position: absolute;
  top: 6px;
  left: 6px;
  width: 48px;
  height: 48px;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0.3));
  border-radius: 50% !important;
}*/

.ga-buttonbar .btn {
  border-color: white;
  border-width: 2px;
}

i.fa-suitcase {
  margin-left: -1.5px;
}

i.fa-gear {
  margin-left: -0.5px;
  margin-top: 3px;
}

div.ga-xtip > div.tooltip-inner {
  font-size: small;
  text-transform: capitalize;
}

.ga-left div.ga-xtip > div.tooltip-inner {
  text-transform: none;
}

div.ga-left {
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
}

.ga-right {
  position: absolute;
  right: 0;
}

.ga-return-active .whereabouts {
  margin-left: 0;
}

.whereabouts {
  font-weight: bold;
  font-size: large;
  color: white;
  text-shadow: 2px 2px black;
  margin-top: 10px;
  margin-left: 10px;
  height: 50px;
  text-transform: capitalize;
  vertical-align: top;
  display: inline-block;
  white-space: pre-line;
  cursor: default;
  pointer-events: none;
}


/* ----------------------------------------------
inventory 
*/

.ga-invbar {
  position: absolute;
}

div.carousel {
  min-width: 64px;
  min-height: 64px;
}

.carousel-indicators {
  display: none;
}

.ga-picker-caption {
  color: white;
  text-transform: capitalize;
}

div.ga-picker {
  position: absolute;
  background-color: #337AB7;
  left: 160px;
  width: 480px;
  /* forcing a height stops collapse from over-expanding the first time */
  max-height: 130px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-width: 2px;
  border-color: white;
  border-style: solid;
}

div.ga-picker-empty {
  cursor: pointer;
}

.ga-picker-banner {
  font-size: larger;
  color: white;
  text-align: center;
  /* uib-collapse appears to muck with height enough to break automatic centering */
  height: 130px;
  padding-top: 50px;
}

.carousel-control {
  background-image: none !important;
}

.ga-slide {
  min-width: 64px;
  min-height: 64px;
  display: flex;
  align-items: center;
}

.ga-slide img {
  max-width: 64px;
  max-height: 64px;
}

.ga-invbar {
  position: absolute;
  bottom: -30px;
  width: 100%;
  display: flex;
  /*align-items: center;*/
  justify-content: center;
}


/* ----------------------------------------------
console
*/

.ga-console {
  position: absolute;
  left: 150px;
  width: 500px;
  background-color: rgba(10, 10, 10, 0.5);
  border-style: ridge;
  border-top-style: none;
  border-width: 3px;
  padding: 10px;
  overflow-y: hidden;
  color: white;
  text-shadow: 2px 2px #232927;
}

.ga-console ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.ga-console li {
  margin-top: 0.5em;
}

.ga-console form {
  margin-top: 1em;
}

.ga-console .speaker {
  font-size: large;
  color: red;
  font-style: italic;
  font-weight: bold;
}

.ga-console .input li {
  font-size: large;
  font-style: italic;
  font-weight: bold;
}

.ga-console form > * {
  width: 100%;
  color: black;
}

.ga-console .scroll-text {
  height: 500px;
  overflow-y: scroll;
  -webkit-user-select: text;
}

.ga-console span.text {
  cursor: text;
}

.scroll-text::-webkit-scrollbar {
  width: 12px;
}

.scroll-text::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.6);
  background-color: rgba(0, 0, 0, 0.2);
}

.scroll-text::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.8);
  background-color: rgba(0, 0, 0, 0.3);
}


/* ----------------------------------------------
save popup
*/

.ga-save {
  color: white;
  background-color: #337ab7;
  cursor: pointer;
  border-radius: 20px;
  padding: 8px;
}

span.ga-super {
  vertical-align: super;
}

.ga-save.saved {
  padding: 20px;
  padding-top: 0px;
}

.ga-save.error {
  background-color: red;
  padding: 20px;
}

.ga-save .btn {
  margin-bottom: 10px;
}

p.ga-center {
  text-align: center;
  width: 100%;
}


/* ----------------------------------------------
autosave spinner
*/

.ga-autosave {
  position: absolute;
  color: white;
  background-color: #337ab7;
  border-radius: 20px;
  padding: 8px;
  bottom: 8px;
  right: 8px;
}


/* ----------------------------------------------
comment ( and combine ) panels 
*/

.ga-comment-box {
  position: absolute;
  background-color: rgba(100, 100, 100, 0.75);
  left: 0;
  bottom: 0;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding-top: 0.5em;
  width: 100%;
  color: silver;
}

.ga-comment-box ul {
  list-style-type: none;
  margin-right: 10px;
  margin-left: 10px;
  padding-left: 0;
}

.ga-comment-box li {
  text-decoration: none;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  transition: color 0.3s;
  font-weight: 700;
  text-shadow: 1px 1px 1px #000;
  font-size: 1.35em;
  padding-left: 1em;
  border-radius: 10px;
}

.ga-comment-box li:hover {
  color: white;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.75);
}

.ga-comment-box img {
  max-width: 32px;
  max-height: 32px;
}


/* ----------------------------------------------
combine box 
*/

.ga-context-info {
  font-style: italic;
  margin-left: 2em;
  font-weight: 700;
  text-shadow: 1px 1px 1px #000;
  font-size: 1.35em;
}


/* ----------------------------------------------
popup 
*/

.ga-exit {
  z-index: 2000;
}

.ga-exit-prompt {
  padding-top: 10px;
  font-weight: bold;
}

.ga-exit-msg {
  width: 100%;
  text-align: center;
}


/* ----------------------------------------------
story popup 
*/

.ga-notify {
  cursor: pointer;
}

.ga-notify p {
  /*override no-select which resets the cursor to default*/
  cursor: pointer;
}

.ga-notify {
  position: absolute;
  background-color: white;
  max-width: 500px;
  max-height: 400px;
  box-shadow: 1px 10px 6px -6px black;
  border-radius: 20px;
  border-width: 3px;
}

div.ga-notify-box {
  padding: 0.5em 1em;
}

div.ga-notify p {
  padding: 0;
  padding-left: 1em;
  padding-right: 1em;
  margin-top: 0.1em;
  margin-bottom: 0.1em;
}


/* ----------------------------------------------
settings 
*/

.ga-settings {
  position: absolute;
  cursor: pointer;
  background-color: #337AB7;
  color: white;
  box-shadow: 1px 10px 6px -6px black;
  border-radius: 20px;
  border-width: 3px;
}

div.ga-settings .btn {
  width: 200px;
  margin-bottom: 6px;
}


/* ----------------------------------------------
talk bubbles, based on:
http://nicolasgallagher.com/pure-css-speech-bubbles/demo/
*/

.ga-bubble {
  cursor: pointer;
}

.ga-bubble {
  position: absolute;
  z-index: 1000;
  min-width: 100px;
  max-width: 220px;
  text-align: center;
  margin: 0;
  padding: 0.6rem 1.8rem 0.6rem 1.8rem;
  color: #fff;
  background: #075698;
  /* default background for browsers without gradient support */
  /* css3 */
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#2e88c4), to(#075698));
  background: -moz-linear-gradient(#2e88c4, #075698);
  background: -o-linear-gradient(#2e88c4, #075698);
  background: linear-gradient(#2e88c4, #075698);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}

.ga-bubble:after {
  content: "";
  position: absolute;
  /* value = - border-top-width - border-bottom-width; additional -1 for annoying gap */
  bottom: -14px;
  /* controls horizontal position */
  left: 60px;
  /* vary these values to change the angle of the vertex */
  border-width: 0 0 15px 18px;
  border-style: solid;
  border-color: transparent #075698;
}


/* ----------------------------------------------
animations 
*/

.ga-pulse {
  box-shadow: 0 0 0 0 rgba(51, 122, 183, 0.7);
  border-radius: 50%;
  -webkit-animation: pulse 1.2s 1 cubic-bezier(0.66, 0, 0, 1);
  -moz-animation: pulse 1.2s 1 cubic-bezier(0.66, 0, 0, 1);
  -ms-animation: pulse 1.2s 1 cubic-bezier(0.66, 0, 0, 1);
  animation: pulse 1.2s 1 cubic-bezier(0.66, 0, 0, 1);
}

@-webkit-keyframes pulse {
  from {
    background-color: white;
  }
  to {
    box-shadow: 0 0 0 35px rgba(51, 122, 183, 0);
  }
}

@-moz-keyframes pulse {
  from {
    background-color: white;
  }
  to {
    box-shadow: 0 0 0 35px rgba(51, 122, 183, 0);
  }
}

@-ms-keyframes pulse {
  from {
    background-color: white;
  }
  to {
    box-shadow: 0 0 0 35px rgba(51, 122, 183, 0);
  }
}

@keyframes pulse {
  from {
    background-color: white;
  }
  to {
    box-shadow: 0 0 0 35px rgba(51, 122, 183, 0);
  }
}
