<div class="ga-actionbar" ng-style='actionBar.getStyle()' modal-content="actionBar">
  <a ng-repeat="act in actionBar.actions track by act.id" class="btn btn-primary" uib-tooltip="{{act.name}}" ng-click="actionBar.runAction(act)" ng-style="actionBar.getStyle($index)" tooltip-placement="bottom" tooltip-class="ga-xtip" action-button-control="{{act.id}}">
    <i ng-class="act.iconClass"></i>
  </a><!--no space between tags --><a ng-if="actionBar.zoom" class="btn btn-primary" uib-tooltip="Zoom" ng-click="actionBar.zoomView()" tooltip-placement="bottom" tooltip-class="ga-xtip" ng-style="actionBar.getStyle(-1)" action-button-control="zoomView">
    <i ng-class="actionBar.zoom.iconClass"></i>
  </a>
</div>
