<!-- && !runningAction && !processingFrame -->
<div class="ga-buttonbar ga-left ga-show" ng-show="!hideViewButton && clickReturn.msg" element-slot="clickReturn">
  <a class="btn btn-primary btn-lg" uib-tooltip="{{clickReturn.msg}}" tooltip-placement="right" tooltip-class="ga-xtip">
    <i class="fa fa-undo"></i>
  </a>
</div>
<div class="ga-buttonbar ga-right ga-show">
  <a class="btn btn-primary btn-lg" ng-click="machine.emit('demo-console')" uib-tooltip="Console" tooltip-placement="auto bottom" tooltip-class="ga-xtip">
    <i class="fa fa-terminal"></i>
  </a>
  <a class="btn btn-primary btn-lg disabled" element-slot="invButton" ng-click="invButton.click()" uib-tooltip="Items" tooltip-placement="auto bottom" tooltip-class="ga-xtip">
    <i class="fa fa-suitcase"></i>
  </a>
  <a class="btn btn-primary btn-lg disabled" ng-click="machine.emit('demo-settings')" uib-tooltip="Settings" tooltip-placement="auto bottom" tooltip-class="ga-xtip">
    <i class="fa fa-gear"></i>
  </a>
</div>
