<div ng-controller="InputController as input" class="ga-console" uib-collapse="!console.visible">
  <div class="scroll-text" ga-scrolldown="console.history">
    <ul>
      <li ng-repeat="block in console.history track by $index">
        <ul ng-class="{ input : block.input }">
          <li ng-if="block.speaker" class="speaker">{{block.speaker}}</li>
          <li ng-repeat="text in block.text track by $index">{{text}}</li>
        </ul>
      </li>
    </ul>
  </div>
  <div>
    <form id="f" ng-submit="console.submit(input.extract())">
      <input id="q" name="q" type="text" ng-model="input.userInput" autocomplete="off" ng-disabled="!console.inputEnabled" ga-auto-focus="console.inputEnabled">
    </form>
  </div>
</div>
