<!-- we are some layer whose parent has established new content -->
<div ng-controller="MapLayerController">
  <div ng-if="display" ng-include="'showLayer.html'"></div>
  <!-- display sub-layers -->
  <div id="{{layer.id}}" class="mapLayer" ng-repeat="layer in subLayers track by layer.id">
    <div ng-switch="layer.layerType">
      <div ng-switch-when="objectLayer" ng-controller="MapObjectController">
        <div id="{{'obj-'+objectName}}" ng-if="subject">
          <div ng-include="'contentsLayer.html'"></div>
        </div>
      </div>
      <div ng-switch-when="objectState" ng-controller="MapObjectStateController">
        <div ng-if="inState">
          <div ng-include="'contentsLayer.html'"></div>
        </div>
      </div>
      <div ng-switch-when="viewLayer" ng-controller="MapViewController">
        <div ng-include="'contentsLayer.html'"></div>
      </div>
      <div ng-switch-when="chara" ng-controller="MapCharaController">
        <div ng-include="'contentsLayer.html'"></div>
      </div>
      <div ng-switch-when="contents" ng-controller="MapContentsController">
        <div ng-if="subject">
          <div ng-include="'contentsLayer.html'"></div>
        </div>
      </div>
      <div ng-switch-default>
        <div ng-include="'contentsLayer.html'"></div>
      </div>
    </div>
  </div>
</div>
