/*canvas {
  border-color: red;
  border-style: solid;
  border-width: 1px;
}
*/

/*.ga-debug {
  visibility: hidden;
}
*/
body {
  /*background-color: aliceblue;*/
  width: 800px;
  margin: 0 auto;
  margin-top: 1em;
  /* light text on dark backgrounds; safari looks different than other browsers */
  -webkit-font-smoothing: subpixel-antialiased;
}

.nav,
.pagination,
.carousel,
.panel-title a {
  cursor: pointer;
}

.ga-canvas,
.ga-display {
  margin: 0;
  padding: 0;
}

.ga-cursor {
  position: absolute;
  z-index: 1000;
  color: lightsteelblue;
  pointer-events: none;
  text-shadow: 1px 0px #2e6da4, -1px 0px #2e6da4, 0px 1px #2e6da4, 0px -1px #2e6da4, 1px 1px 2px black;
}

body > canvas {
  z-index: 8000;
  position: absolute;
  opacity: 0.8;
}

* {
  font-size: 16px;
}

#outermap {
  cursor: none;
}

#status-bar {
  padding-left: 1em;
  padding-right: 1em;
  text-shadow: 1px 1px 1px white;
  font-weight: bold;
}

#status-right {
  float: right;
}

form > * {
  width: 100%;
}

.mapLayer {
  position: absolute;
  left: 0;
  top: 0;
}

.speaker {
  font-size: large;
  color: red;
  font-style: italic;
  font-weight: bold;
}


/* http://nicolasgallagher.com/pure-css-speech-bubbles/demo/ */

.talk {
  position: absolute;
  z-index: 1000;
}

.bubble {
  position: absolute;
  /* because the bubble floats above the modal, disable mouse interaction */
  pointer-events: none;
  z-index: 1000;
  min-width: 140px;
  max-width: 220px;
  text-align: center;
  line-height: 1.2rem;
  margin: 0;
  padding: 0.6rem 0.8rem 0.6rem 0.5rem;
  color: #fff;
  background: #075698;
  /* default background for browsers without gradient support */
  /* css3 */
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#2e88c4), to(#075698));
  background: -moz-linear-gradient(#2e88c4, #075698);
  background: -o-linear-gradient(#2e88c4, #075698);
  background: linear-gradient(#2e88c4, #075698);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}

.bubble:after {
  content: "";
  position: absolute;
  /* value = - border-top-width - border-bottom-width */
  bottom: -15px;
  /* controls horizontal position */
  left: 60px;
  /* vary these values to change the angle of the vertex */
  border-width: 0 0 15px 18px;
  border-style: solid;
  border-color: transparent #075698;
}

div.overgrey {
  width: 100%;
  height: 100%;
  z-index: 100;
  top: 0;
  left: 0;
  position: absolute;
}

#ga-play {
  /*overflow: hidden;*/
  width: 800px;
  height: 672px;
  /*border-width: 3px;
  border-style: solid;
  border-color: #075698;*/
  border-radius: 20px;
  margin: 3px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  /*cursor: crosshair !important;*/
}

.ga-combining #ga-play {
  /*cursor: copy !important;*/
}

.ga-noselect {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  cursor: default;
}

.ga-left {
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
}

.ga-right {
  position: absolute;
  right: 0;
  top: 0;
}

.ga-center {
  position: absolute;
  bottom: -30px;
  width: 100%;
  display: flex;
  /*align-items: center;*/
  justify-content: center;
}

.ga-actionbar {
  position: absolute;
  z-index: 1000;
  border-style: solid;
  border-width: 3px;
  /*border-color: rgba(176, 196, 222, 0.8);*/
  border-color: lightsteelblue;
  border-radius: 50% !important;
  outline: none !important;
  width: 84px;
  height: 84px;
  margin-left: -42px;
  margin-top: -42px;
}

.ga-actionbar .btn {
  position: absolute;
  background-color: lightslategrey;
  color: white;
  border-width: 3px;
  border-color: lightsteelblue;
  border-radius: 50% !important;
  outline: none !important;
  font-size: xx-small;
  width: 42px;
  height: 42px;
  line-height: 42px;
  margin: 0px;
  padding: 0px;
}

.ga-buttonbar {
  position: absolute;
}

.ga-buttonbar .btn {
  margin: 0.2em 0.3em;
  border-radius: 50% !important;
  outline: none !important;
}

div.ga-xtip > div.tooltip-inner {
  font-size: small;
  text-transform: capitalize;
}

.ga-console ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.ga-console li {
  margin-top: 0.5em;
}

.ga-console form {
  margin-top: 1em;
}

.ga-comment-box {
  position: absolute;
  background-color: rgba(10, 10, 10, 0.5);
  left: 0px;
  bottom: 0px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding-top: 0.5em;
  width: 800px;
  z-index: 1000;
  color: silver;
}

.ga-comment-box ul {
  list-style-type: none;
}

.ga-comment-box li {
  text-decoration: none;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  transition: color 0.3s;
  font-weight: 700;
  text-shadow: 1px 1px 1px #000;
  font-size: 1.35em;
}

.ga-comment-box li:hover {
  color: white;
  cursor: pointer;
}

.ga-context-info {
  font-style: italic;
  margin-left: 2em;
  font-weight: 700;
  text-shadow: 1px 1px 1px #000;
  font-size: 1.35em;
}

.ga-slide {
  min-width: 64px;
  min-height: 64px;
  display: flex;
  align-items: center;
}

.ga-slide img {
  max-width: 64px;
  max-height: 64px;
}

.ga-comment-box img {
  max-width: 32px;
  max-height: 32px;
}

div.carousel {
  min-width: 64px;
  min-height: 64px;
}

.ga-picker-caption {
  color: white;
  text-transform: capitalize;
}

.ga-notifydrop {
  opacity: 0 !important;
}

div.ga-notify > div {
  margin: 0;
  background-color: white;
  position: absolute;
  max-width: 500px;
  max-height: 400px;
  /*half of the play space s*/
  top: 338px;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  /*box-shadow: 3px 3px 5px 6px black; */
  box-shadow: 1px 10px 6px -6px black;
  border-radius: 20px;
  border-width: 3px;
  /*border-style: inset;
  border-color: white;*/
  overflow-y: scroll;
}

div.ga-notify-box {
  padding: 0.5em 1.5em;
}

div.ga-notify p {
  padding: 0px;
  padding-left: 1.5em;
  padding-right: 1.5em;
  margin-top: 0.1em;
  margin-bottom: 0.1em;
}

div.ga-picker .modal-content {
  background-color: #337AB7;
}

.scroll-text {
  max-height: 600px;
  overflow-y: auto;
}

.carousel-control {
  background-image: none !important;
}

.ga-show {
  -webkit-transition: all linear 0.5s;
  transition: all linear 0.5s;
}

.ga-show.ng-hide {
  opacity: 0;
  -webkit-transition: all linear 0.0s;
  transition: all linear 0.0s;
}

.ga-pulse {
  box-shadow: 0 0 0 0 rgba(51, 122, 183, 0.7);
  border-radius: 50%;
  -webkit-animation: pulse 1.2s 1 cubic-bezier(0.66, 0, 0, 1);
  -moz-animation: pulse 1.2s 1 cubic-bezier(0.66, 0, 0, 1);
  -ms-animation: pulse 1.2s 1 cubic-bezier(0.66, 0, 0, 1);
  animation: pulse 1.2s 1 cubic-bezier(0.66, 0, 0, 1);
}

@-webkit-keyframes pulse {
  from {
    background-color: white;
  }
  to {
    box-shadow: 0 0 0 35px rgba(51, 122, 183, 0);
  }
}

@-moz-keyframes pulse {
  from {
    background-color: white;
  }
  to {
    box-shadow: 0 0 0 35px rgba(51, 122, 183, 0);
  }
}

@-ms-keyframes pulse {
  from {
    background-color: white;
  }
  to {
    box-shadow: 0 0 0 35px rgba(51, 122, 183, 0);
  }
}

@keyframes pulse {
  from {
    background-color: white;
  }
  to {
    box-shadow: 0 0 0 35px rgba(51, 122, 183, 0);
  }
}
