/*canvas {
  border-color: red;
  border-style: solid;
  border-width: 1px;
}
*/

body {
  /* light text on dark backgrounds; safari looks different than other browsers */
  -webkit-font-smoothing: subpixel-antialiased;
  /* stops scroll bounce, disabled for load game window */
  /*overflow: hidden;*/
}


/**/

.nav,
.pagination,
.carousel,
.panel-title a {
  cursor: pointer;
}

* {
  font-size: 16px;
}

div.overgrey {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  /*background-color: yellow;*/
  opacity: 0;
}

.ga-greyignore > div.overgrey {
  cursor: not-allowed;
}

.ga-greydismiss > div.overgrey {
  /*cursor: pointer;
  its actually nice to see some change in the cursor i think*/
  cursor: default;
}

.ga-noselect,
.ga-canvas {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  /*cursor: default;*/
}


/* ----------------------------------------------
   mouse cursor
*/

.ga-cursor {
  position: absolute;
  /*z-index: 1000;*/
  color: lightsteelblue;
  pointer-events: none;
  text-shadow: 1px 0px #2e6da4, -1px 0px #2e6da4, 0px 1px #2e6da4, 0px -1px #2e6da4, 1px 1px 2px black;
}


/* matches cursor service */

.ga-cursor i {
  width: 36px;
  height: 42px;
}

.ga-cursor .popover {
  background-color: black;
  color: white;
}

.ga-cursor .popover.bottom .arrow:after {
  border-bottom-color: black;
}

.ga-cursor .popover.left .arrow:after {
  border-left-color: black;
}

.ga-cursor .popover.right .arrow:after {
  border-right-color: black;
}

.ga-cursor .popover.top .arrow:after {
  border-top-color: black;
}

.ga-cursor div.popover-content {
  font-size: small;
  text-transform: capitalize;
}


/* ----------------------------------------------
   menu display
*/

#ga-menus a.ga-link {
  text-transform: uppercase;
}

h1,
h2,
h3,
h4 {
  text-align: center;
}

.ga-options,
.ga-about {
  margin: 0 auto;
  width: 25%;
}


/* ----------------------------------------------
  main display
*/

main {
  position: relative;
}

.ga-play {
  position: relative;
  width: 768px;
  /*24x32; hall, heart are larger.*/
  height: 640px;
  /*20x32; no maps are larger.*/
  border-radius: 20px;
  overflow: hidden;
  background-color: rgb(66, 81, 77);
  top: 50%;
  left: 50%;
  padding: 0px;
  margin-left: -383px;
  /*https://bugs.chromium.org/p/chromium/issues/detail?id=157218*/
  z-index: 1;
}

.ga-map {
  cursor: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ga-canvas,
.ga-display {
  margin: 0;
  padding: 0;
  position: absolute;
}


/* ----------------------------------------------
  status  bar
*/

header {
  position: relative;
}

.ga-status {
  position: relative;
  width: 768px;
  min-height: 1.8em;
  left: 50%;
  padding: 0px;
  margin-left: -383px;
}

.whereabouts {
  font-weight: bold;
  font-size: large;
}

.story-title {
  font-weight: bold;
  font-size: large;
  float: right;
}

.state-display {
  position: absolute;
  left: 0px;
  overflow: scroll;
  top: 0px;
  max-height: 600px;
  margin: 0 auto;
  border: thin solid black;
  background-color: white;
  padding: 2px;
  z-index: 1;
  /* for ga-play */
}


/* ----------------------------------------------
  states debugging
*/

hsm-state {
  margin-left: 2px;
  display: block;
}

.hsm-state-label {
  font-size: x-small;
}


/* ----------------------------------------------
  action  bar
*/

.ga-actionbar {
  position: absolute;
  z-index: 1000;
  border-style: solid;
  border-width: 3px;
  /*border-color: rgba(176, 196, 222, 0.8);*/
  border-color: lightsteelblue;
  border-radius: 50% !important;
  outline: none !important;
  width: 84px;
  height: 84px;
  margin-left: -42px;
  margin-top: -42px;
}

.ga-actionbar .btn {
  position: absolute;
  background-color: lightslategrey;
  color: white;
  border-width: 3px;
  border-color: lightsteelblue;
  border-radius: 50% !important;
  outline: none !important;
  font-size: xx-small;
  width: 42px;
  height: 42px;
  line-height: 42px;
  margin: 0px;
  padding: 0px;
}


/* ----------------------------------------------
  button bar
*/

.ga-buttonbar .btn {
  margin: 0.2em 0.3em;
  border-radius: 50% !important;
  outline: none !important;
  max-width: 50px;
  max-height: 50px;
}

div.ga-xtip > div.tooltip-inner {
  font-size: small;
  text-transform: capitalize;
}

.ga-left {
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
}

.ga-right {
  position: absolute;
  right: 0;
}


/* ----------------------------------------------
  inventory 
*/

.ga-invbar {
  position: absolute;
}

div.carousel {
  min-width: 64px;
  min-height: 64px;
}

.carousel-indicators {
  display: none;
}

.ga-picker-caption {
  color: white;
  text-transform: capitalize;
}

div.ga-picker {
  position: absolute;
  background-color: #337AB7;
  /*width: 60%;
  left: 20%;*/
  left: 160px;
  width: 480px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.carousel-control {
  background-image: none !important;
}

.ga-slide {
  min-width: 64px;
  min-height: 64px;
  display: flex;
  align-items: center;
}

.ga-slide img {
  max-width: 64px;
  max-height: 64px;
}

.ga-invbar {
  position: absolute;
  bottom: -30px;
  width: 100%;
  display: flex;
  /*align-items: center;*/
  justify-content: center;
}


/* ----------------------------------------------
  console
*/

.ga-console {
  position: absolute;
  left: 160px;
  width: 480px;
  /*width: 60%;
  left: 20%;*/
  background-color: rgba(10, 10, 10, 0.5);
  border-style: ridge;
  border-top-style: none;
  border-width: 3px;
  padding: 10px;
  overflow-y: hidden;
  color: white;
  text-shadow: 2px 2px #232927;
}

.ga-console ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.ga-console li {
  margin-top: 0.5em;
}

.ga-console form {
  margin-top: 1em;
}

.ga-console .speaker {
  font-size: large;
  color: red;
  font-style: italic;
  font-weight: bold;
}

.ga-console .input li {
  font-size: large;
  font-style: italic;
  font-weight: bold;
}

.ga-console form > * {
  width: 100%;
  color: black;
}

.ga-console .scroll-text {
  max-height: 500px;
  overflow-y: scroll;
}


/* ----------------------------------------------
 comment ( and combine ) panels 
*/

.ga-comment-box {
  position: absolute;
  background-color: rgba(100, 100, 100, 0.75);
  left: 0px;
  bottom: 0px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding-top: 0.5em;
  width: 100%;
  color: silver;
}

.ga-comment-box ul {
  list-style-type: none;
  margin-right: 10px;
  margin-left: 10px;
  padding-left: 0px;
}

.ga-comment-box li {
  text-decoration: none;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  transition: color 0.3s;
  font-weight: 700;
  text-shadow: 1px 1px 1px #000;
  font-size: 1.35em;
  padding-left: 1em;
  border-radius: 10px;
}

.ga-comment-box li:hover {
  color: white;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.75);
}

.ga-comment-box img {
  max-width: 32px;
  max-height: 32px;
}


/* ----------------------------------------------
  combine box 
*/

.ga-context-info {
  font-style: italic;
  margin-left: 2em;
  font-weight: 700;
  text-shadow: 1px 1px 1px #000;
  font-size: 1.35em;
}


/* ----------------------------------------------
  popup 
*/

.ga-notify {
  cursor: pointer;
}

.ga-notify p {
  /*override no-select which resets the cursor to default*/
  cursor: pointer;
}

.ga-notify {
  position: absolute;
  background-color: white;
  max-width: 500px;
  max-height: 400px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /*box-shadow: 3px 3px 5px 6px black; */
  box-shadow: 1px 10px 6px -6px black;
  border-radius: 20px;
  border-width: 3px;
  /*border-style: inset;
  border-color: white;*/
  overflow-y: scroll;
}

div.ga-notify-box {
  padding: 0.5em 1.5em;
}

div.ga-notify p {
  padding: 0px;
  padding-left: 1.5em;
  padding-right: 1.5em;
  margin-top: 0.1em;
  margin-bottom: 0.1em;
}


/* ----------------------------------------------
 talk bubbles, based on:
 http://nicolasgallagher.com/pure-css-speech-bubbles/demo/
*/

.ga-bubble {
  cursor: pointer;
}

.ga-bubble {
  position: absolute;
  z-index: 1000;
  min-width: 100px;
  max-width: 220px;
  text-align: center;
  margin: 0;
  padding: 0.6rem 1.8rem 0.6rem 1.8rem;
  color: #fff;
  background: #075698;
  /* default background for browsers without gradient support */
  /* css3 */
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#2e88c4), to(#075698));
  background: -moz-linear-gradient(#2e88c4, #075698);
  background: -o-linear-gradient(#2e88c4, #075698);
  background: linear-gradient(#2e88c4, #075698);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}

.ga-bubble:after {
  content: "";
  position: absolute;
  /* value = - border-top-width - border-bottom-width */
  bottom: -15px;
  /* controls horizontal position */
  left: 60px;
  /* vary these values to change the angle of the vertex */
  border-width: 0 0 15px 18px;
  border-style: solid;
  border-color: transparent #075698;
}


/* ----------------------------------------------
  animations 
*/

.ga-pulse {
  box-shadow: 0 0 0 0 rgba(51, 122, 183, 0.7);
  border-radius: 50%;
  -webkit-animation: pulse 1.2s 1 cubic-bezier(0.66, 0, 0, 1);
  -moz-animation: pulse 1.2s 1 cubic-bezier(0.66, 0, 0, 1);
  -ms-animation: pulse 1.2s 1 cubic-bezier(0.66, 0, 0, 1);
  animation: pulse 1.2s 1 cubic-bezier(0.66, 0, 0, 1);
}

@-webkit-keyframes pulse {
  from {
    background-color: white;
  }
  to {
    box-shadow: 0 0 0 35px rgba(51, 122, 183, 0);
  }
}

@-moz-keyframes pulse {
  from {
    background-color: white;
  }
  to {
    box-shadow: 0 0 0 35px rgba(51, 122, 183, 0);
  }
}

@-ms-keyframes pulse {
  from {
    background-color: white;
  }
  to {
    box-shadow: 0 0 0 35px rgba(51, 122, 183, 0);
  }
}

@keyframes pulse {
  from {
    background-color: white;
  }
  to {
    box-shadow: 0 0 0 35px rgba(51, 122, 183, 0);
  }
}
