<header id="status-bar" ng-controller="StatusController">
  <span id="status-left">{{status.attr.left}} </span>
  <span id="status-right">{{status.attr.right}}</span>
</header>
<!--
  <div id="info" >
    <div ng-controller="LocationController">
      <a ng-click="showList = !showList" href="">{{loc.name}}</a>
      <ul ng-hide="showList">
        <li ng-repeat="prop in loc.contents" ng-include="'propRender.html'">
        </li>
      </ul>
    </div>  
    <div id="player" ng-controller="InventoryController">
      <a ng-click="showInv = !showInv" href="">inventory</a>
      <ul ng-hide="showInv">
        <li ng-repeat="prop in inventory" ng-include="'propRender.html'">
        </li>
      </ul>
    </div>
  </div>
  -->
<div id="main" ng-controller="PopupController">
  <div id="objectPopup" ng-show="modal.owner" ng-style='modalPos'>
    <button ng-repeat="m in actions" type="button" class="btn btn-primary" tooltip="{{m.act.attr['act']}}" ng-click="modal.runAction(m.act, prop)" tooltip-placement="bottom">
      <i ng-class="m.icon.cls"></i>
    </button>
  </div>
  <div id="view" ng-controller="ResponseController">
    <div ng-controller="ViewController" ng-style="viewStyle" ng-click="layerClick($event)">
      <div ng-repeat="layer in layer.layers.slice().reverse()" ng-include="'layer.html'"></div>
    </div>
    <div id="dialogChoices" ng-controller="DialogController">
      <div class="dialogChoice" ng-repeat="line in dialogChoices">
        <a class="dialogLine" ng-click="selectLine($index)" href="">{{line}}</a>
      </div>
    </div>
  </div>
  <div id="side">
    <div id="text" ng-controller="LinesController">
      <ul scroll-glue="display.counter">
        <li ng-repeat="block in display.blocks track by $index">
          <ul>
            <li ng-if="block.speaker" class="lineFade speaker">{{block.speaker}}</li>
            <li class="lineFade" ng-repeat="text in block.text track by $index">{{text}}</li>
          </ul>
        </li>
      </ul>
    </div>
    <form id="f" ng-controller="InputController" ng-submit="submit()">
      <input id="q" name="q" type="text" ng-model="userInput" autocomplete="off" auto-focus/>
    </form>
  </div>
</div>
