<!-- demo.js assigns this to ng-controller="RoomController" 
-->
<header id="status-bar" ng-controller="StatusController">
  <span id="status-left">{{status.left}}</span>
  <span id="status-right">{{status.right}}</span>
</header>
<div id="main" ng-controller="ActionController">
  <div id="objectPopup" ng-show="actions" ng-style='modalPos'>
    <button ng-repeat="act in actions" type="button" class="btn btn-primary" tooltip="{{act.name}}" ng-click="runAction(act)" tooltip-placement="bottom">
      <i ng-class="act.icon.cls"></i>
    </button>
  </div>
  <div id="view" ng-controller="ResponseController">
    <div id="room" ng-controller="roomController" ng-style="popStyle">
      <div ng-controller="MapController" ng-style="viewStyle" ng-click="layerClick($event)">
        <div ng-repeat="layer in layer.layers.slice().reverse()" ng-include="'layer.html'">
        </div>
      </div>
      <div ng-if="view && !hideViewButton">
        <a id="returnButton" ng-click="exitView()" href="">Return to room...</a>
      </div>
    </div>
    <!-- ~room controller -->
    <div id="dialogChoices" ng-controller="DialogController" ng-style="popStyle">
      <div class="dialogChoice" ng-repeat="line in dialogChoices">
        <a class="dialogLine" ng-click="selectLine($index)" href="">{{line}}</a>
      </div>
    </div>
    <!-- ~list of dialog choices -->
    <div id="inv" ng-controller="InventoryController" ng-style="popStyle" ng-show="items">
      <div class="invitem" ng-repeat="item in items" ng-controller="ItemController" ng-click="click($event)">
        <img class="invimg" ng-src="{{imageSource}}" alt="{{printedName}}" tooltip="{{printedName}}" tooltip-class="invTip"></img>
      </div>
    </div>
  </div>
  <!-- ~response box overlay -->
  <div id="side">
    <div id="text" ng-controller="LinesController">
      <ul scroll-glue="display.counter">
        <li ng-repeat="block in display.blocks track by $index">
          <ul>
            <li ng-if="block.speaker" class="lineFade speaker">{{block.speaker}}</li>
            <li class="lineFade" ng-repeat="text in block.text track by $index">{{text}}</li>
          </ul>
        </li>
      </ul>
    </div>
    <form id="f" ng-controller="InputController" ng-submit="submit()">
      <input id="q" name="q" type="text" ng-model="userInput" autocomplete="off" auto-focus/>
    </form>
  </div>
</div>
