<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="demo" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="demo" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="demo" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Alice and the Galactic Traveller</title>
  <base href="/demo/">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--  -->
  <link rel="stylesheet" href="/script/bootstrap-css-only/css/bootstrap.min.css">
  <link rel="stylesheet" href="/script/components-font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="demo.css">
  <!--  -->
  <script src="/script/angular/angular.min.js"></script>
  <script src="/script/angular-animate/angular-animate.min.js"></script>
  <script src="/script/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
  <script src="/script/request-frame/dist/request-frame.min.js"></script>
  <script src="/script/p2js/build/p2.min.js" type="text/javascript"></script>
  <!--  main, routes, etc. -->
  <script src="/bin/game/alice.js"></script>
  <script src="demo.js"></script>
  <script src="subject.js"></script>
  <!--  angular mods -->
  <script src="directiveAs.js"></script>
  <script src="stateDirective.js"></script>
  <!--  services -->
  <script src="actionService.js"></script>
  <script src="actionListService.js"></script>
  <script src="canvasService.js"></script>
  <script src="charaService.js"></script>
  <script src="collisionService.js"></script>
  <script src="cursorService.js"></script>
  <script src="displayService.js"></script>
  <script src="elementSlotService.js"></script>
  <script src="entityService.js"></script>
  <script src="eventService.js"></script>
  <script src="hitService.js"></script>
  <script src="iconService.js"></script>
  <script src="itemService.js"></script>
  <script src="jsonService.js"></script>
  <script src="layerService.js"></script>
  <script src="landingService.js"></script>
  <script src="locationService.js"></script>
  <script src="mapService.js"></script>
  <script src="objectDisplayService.js"></script>
  <script src="watcherService.js"></script>
  <script src="updateService.js"></script>
  <!-- directives -->
  <script src="directives.js"></script>
  <!-- states -->
  <script src="/hsm/hsmService.js"></script>
  <script src="/hsm/hsmDirectives.js"></script>
  <!--  controls -->
  <script src="actionBarFactoryState.js"></script>
  <script src="classState.js"></script>

  <script src="invWinFactoryState.js"></script>
  <script src="mouseState.js"></script>
  <script src="mouseTargetState.js"></script>
  <script src="moveState.js"></script>
  <script src="physicsState.js"></script>
  <script src="processorState.js"></script>
  <script src="radialState.js"></script>
  <!--  controls -->
  <script src="avatarControl.js"></script>
  <script src="blurControl.js"></script>
  <script src="buttonControl.js"></script>
  <script src="changeControl.js"></script>
  <script src="clientDataControl.js"></script>
  <script src="closerControl.js"></script>
  <script src="confirmExitControl.js"></script>
  <script src="consoleControl.js"></script>
  <script src="constantControl.js"></script>
  <script src="commandControl.js"></script>
  <script src="combineCheckControl.js"></script>
  <script src="combinePanelControl.js"></script>
  <script src="customActionControl.js"></script>
  <script src="eventControl.js"></script>
  <script src="finiControl.js"></script>
  <script src="gameControl.js"></script>
  <script src="imageLoaderControl.js"></script>
  <script src="itemBrowserControl.js"></script>
  <script src="keyControl.js"></script>
  <script src="loadGameControl.js"></script>
  <script src="pathControl.js"></script>
  <script src="mapControl.js"></script>
  <script src="playerControl.js"></script>
  <script src="playerDialogControl.js"></script>
  <script src="playerItemControl.js"></script>
  <script src="popupControl.js"></script>
  <script src="positionControl.js"></script>
  <script src="printControl.js"></script>
  <script src="recentItemControl.js"></script>
  <script src="resumeControl.js"></script>
  <script src="returnToRoomControl.js"></script>
  <script src="saveControl.js"></script>
  <script src="savePopupControl.js"></script>
  <script src="serverControl.js"></script>
  <script src="settingsControl.js"></script>
  <script src="startupControl.js"></script>
  <script src="statusControl.js"></script>
  <script src="storageControl.js"></script>
  <script src="talkControl.js"></script>
  <script src="textControl.js"></script>
  <script src="timeoutControl.js"></script>
  <script src="updateControl.js"></script>
  <script src="visibilityControl.js"></script>
  <!-- menus -->
  <script src="aboutControl.js"></script>
  <script src="creditsControl.js"></script>
  <script src="loadMenuControl.js"></script>
  <script src="mainMenuControl.js"></script>
  <!-- components  -->
  <!-- controllers  -->
  <script src="inputController.js"></script>
  <script src="itemSlideController.js"></script>
  <!--  -->
  <script src="mosaic/map.js"></script>
  <script src="mosaic/point.js"></script>
  <script src="mosaic/sprite.js"></script>
</head>

<body ng-app="demo" hsm-machine="machine" hsm-log="log" path-control="path" constant-control="constant" hsm-transition="0&& log.warn('hsm: transitioning', $source.name, '->', $target.name, '@', $evtname)" hsm-enter="0&& $state.name.indexOf('hsmState') && log.enter($state)" hsm-exit="0&& log.exit($state)" blur-control="blur">
  <header>
    <div title-bar-control="titlebar" class="titlebar">
      <span class="titlebar-icon">
        <span class="fa-stack">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-rocket fa-stack-1x fa-inverse"></i>
        </span>
      </span>
      <span class="titlebar-text">Alice and the Galactic Traveller</span>
      <a class="titlebar-close-button" element-slot="closeButton" href="" ng-click="closeButton.click()"></a>
      <div class="titlebar-divider"></div>
    </div>
  </header>
  <main>
    <div element-slot="gameWindow" ng-include="'gameWindow.html'">
    </div>
    <div class="ga-menus" element-slot="menuWindow" ng-show="!!menuWindow.visible">
      <div element-slot="mainWin" ng-include="'mainWin.html'"></div>
      <div element-slot="creditsWin" ng-include="'creditsWin.html'"></div>
      <div element-slot="loadMenuWin" ng-include="'loadMenuWin.html'"></div>
    </div>
  </main>
  <footer ng-init="hsmExpanded=true">
    <div class="state-display" ng-show="!!constant('ShowHsm')">
      <a href="" ng-click="hsmExpanded=!hsmExpanded">states [{{hsmExpanded ? 'x' : 'o'}}]</a>
      <ng-include src="'main.html'" ng-show="!!hsmExpanded"></ng-include>
    </div>
  </footer>
</body>

</html>
