<div class="ga-picker" items-control="items">
  <div ng-include="'picker.html'"></div>
  <div class="ga-buttonbar ga-center" ng-if="currentActions">
    <a ng-repeat="act in currentActions track by act.id" class="btn btn-primary" uib-tooltip="{{act.name}}" ng-click="items.clicked(currentSlide, act)" tooltip-placement="bottom" tooltip-class="ga-xtip">
      <i ng-class="act.iconClass"></i>
    </a><!--no space between tags--><a ng-if="slides.length && combine" class="btn btn-primary" uib-tooltip="Use Item" ng-click="items.clicked(currentSlide)" tooltip-placement="bottom" tooltip-class="ga-xtip">
      <i ng-class="combine.iconClass"></i>
    </a>
  </div>
</div>
</span>