<div class="mapLayer" ng-controller="LayerController">
  <div ng-if="showLayer" id="{{layerPath}}">
    <div class="mapLayer" ng-switch on="layer.grid ? 'grid' : layer.image ? 'image' : ''" ng-style="{'left':layer.bounds.min.x+'px','top':layer.bounds.min.y+'px'}">
      <div ng-if="showBubbles && hasContent" class="bubble" ng-controller="TalkController" ng-show="charText" ng-style="{'bottom':layerSize.y+'px'}">
        {{charText}}
      </div>
      <canvas ng-switch-when='grid' width="{{layerSize.x}}" height="{{layerSize.y}}" ng-controller="GridController">
      </canvas>
      <canvas ng-switch-when='image' width="{{layerSize.x}}" height="{{layerSize.y}}" ng-controller="ImageController">
      </canvas>
    </div>
    <div ng-repeat="layer in layer.layers.slice().reverse()" ng-include="'layer.html'">
    </div>
  </div>
</div>
