<div class="mapLayer" ng-controller="LayerController" ng-hide="layer.hidden" ng-style="{'left':layer.bounds.min.x+'px','top':layer.bounds.min.y+'px'}">
  <canvas id="{{layerPath}}" width="{{layerSize.x}}" height="{{layerSize.y}}" ng-controller="canvasController">
  </canvas>
  <div ng-if="layer.chara">
    <div class="bubble" ng-controller="TalkController" ng-style="{'bottom':layerSize.y+'px'}" ng-show="charText">
      {{charText}}
    </div>
  </div>
  <div ng-repeat="layer in layer.layers.slice().reverse()" ng-include="'layer.html'">
  </div>
</div>
