<div ng-controller="LayerController" class="mapLayer" ng-hide="layer.hidden">
  <canvas id="{{layerPath}}" ng-style="{'left':layer.bounds.min.x+'px','top':layer.bounds.min.y+'px'}" , width="{{layerSize.x}}" height="{{layerSize.y}}" ng-controller="canvasController">
  </canvas>
  <div ng-switch on="layer.name">
    <div ng-switch-when="chara">
      <div ng-repeat="layer in layer.layers.slice().reverse()" ng-include="'chara.html'">
      </div>
    </div>
    <div ng-switch-default>
      <div ng-repeat="layer in layer.layers.slice().reverse()" ng-include="'layer.html'">
      </div>
    </div>
  </div>
</div>
