<div class="ga-saved" ng-if="loadGameWin.visible">
  <h1>Load Game</h1>
  <ul class="list-unstyled">
    <li ng-repeat="game in loadGameWin.games | orderBy: '-ikey' track by $index">
      <ga-link ng-click="loadGameWin.loadGame(game.ikey)">
        <span class="idx">Game: {{$index+1}}</span>
        <div class="dateTime">{{game.when}}</div>
        <div class="location">where: {{game.where}}</div>
      </ga-link>
    </li>
    <li>
      <ga-link ga-dst="/">Return to menu</ga-link>
    </li>
  </ul>
</div>
