<div ng-if="mainWin.visible">
  <h2>Alice and the Galactic Traveller</h2>
  <h4>web version 0.{{constant('GameVersion')}}.{{constant('SaveVersion')}}</h4>
  <div class="ga-options">
    <ul class="list-unstyled">
      <li ng-if="!mainWin.loadGames">
        <ga-link ga-dst="/start" ng-click="mainWin.start()">Begin Game</ga-link>
      </li>
      <li ng-if="mainWin.loadGames">
        <ga-link ga-dst="/resume" ng-click="mainWin.resume()">Continue Playing</ga-link>
      </li>
      <li>
        <ga-link ga-dst="/saved" ga-disabled="!mainWin.loadGames">Load Game</ga-link>
      </li>
      <li ng-if="mainWin.loadGames">
        <ga-link ga-dst="/start" ng-click="mainWin.start()">New Game</ga-link>
      </li>
      <!-- <li>(options)</li> -->
      <li>
        <ga-link ga-dst="/about">About</ga-link>
      </li>
    </ul>
  </div>
</div>
