<div ng-controller="PropController">
  <!-- actions -->
  <a ng-click="modal.toggleOwner(prop, !!inventory)" href="">{{prop.name}}{{clothing[prop.id]?'&nbsp;(worn)':''}}</a>
  <!-- states  -->
  <a ng-click="showStates = !showStates" href="" class="smallText">(states)</a>
  <div ng-show="showStates">
    <span class="smallText">{{prop.states.join(', ')}}</span>
  </div>
  <!-- show actions -->
  <div ng-show="prop == modal.owner">
    (<span ng-repeat="act in modal.actions" class="smallText" class="action">  
          <!-- click to run action -->
        <a ng-click="modal.runAction(prop, act)" href="">{{act.attr.act}}</a>{{ $last ? '':', ' }} 
        </span>)
  </div>
  <!-- sub objects -->
  <ul>
    <li ng-repeat="prop in prop.contents" ng-include="'propRender.html'">
    </li>
  </ul>
</div>
