<div class="ga-notify" modal-content="saver">
  <div class="ga-notify-box">
    <div ng-switch on="saver.state">
      <div ng-switch-when="saved">
        <h1>Saved Game</h1>
        <ga-link ng-click="saver.continueGame()">Continue playing...</ga-link>
        <ga-link ng-click="saver.exitGame()">Exit game.</ga-link>
      </div>
      <div ng-switch-when="error">
        <h1>Save Game Error</h1>
        <div>Error saving game</div>
        {{saver.errorMessage}}
        <ga-link ng-click="saver.continueGame()">Continue playing...</ga-link>
      </div>
      <div ng-switch-default>
        <h1>Saving Game</h1>
        <div>
        Saving.... Please wait.
        </div>
      </div>
    </div>
  </div>
</div>
