/*html {
  text-align: center;
}
*/

body {
  background-color: aliceblue;
  width: 800px;
  margin: 0 auto;
  margin-top: 1em;
}


/*div.modal {
  width: 800px;
}
*/

#ga-play {
  overflow: hidden;
  width: 800px;
  height: 672px;
  border-width: 3px;
  border-style: solid;
  border-color: #075698;
  border-radius: 20px;
  margin: 1px;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout:none;
}

#ga-play > img {
  /*position: absolute;*/
  /*top:50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);*/
}

.ga-buttonbar {
  opacity: 0.9;
  position: absolute;
  right: 0;
  top: 0;
}

.ga-barbtn {
  margin: 0.2em 0.3em;
  border-radius: 50% !important;
  outline: none !important;
}

.ga-console ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.ga-console li {
  margin-top: 0.5em;
}

.ga-console form {
  margin-top: 1em;
}

.ga-comment-box {
  position: absolute;
  background-color: rgba(10, 10, 10, 0.5);
  left: 0px;
  bottom: 0px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding-top: 0.5em;
  width: 828px;
  z-index: 1000;
}

.ga-comment-box li {
  text-decoration: none;
  color: silver;
  font-weight: 700;
  text-shadow: 1px 1px 1px #000;
  font-size: 1.35em;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  transition: color 0.3s;
}

.ga-comment-box li:hover {
  color: white;
  cursor: pointer;
}

.ga-slide {
  min-width: 64px;
  min-height: 64px;
  display: flex;
  align-items: center;
}

.ga-slide img {
  max-width: 64px;
  max-height: 64px;
}

div.carousel {
  min-width: 64px;
  min-height: 64px;
}

.ga-pickerbar {
  position: absolute;
  bottom: -30px;
  width: 100%;
  display: flex;
  /*align-items: center;*/
  justify-content: center;
}

.ga-picker-caption {
  color: white;
}

div.ga-picker .modal-content {
  background-color: #337AB7;
}


/* scroll modal, and not background */

.modal-dialog {
  overflow-y: initial !important
}

.modal-body {
  max-height: 650px;
  overflow-y: auto;
}

.carousel-control {
  background-image: none !important;
}
