<section ng-repeat="credits in credits.items">
  <div ng-class="credits.class">
    <h1 ng-if="!!credits.section">{{credits.section}}</h1>
    <h2 ng-if="!!credits.subsection">{{credits.subsection}}</h2>
    <h3 ng-if="!!credits.title">{{credits.title}}</h3>
    <div class="tag" ng-if="!!credits.tag"> {{credits.tag}}.</div>
    <div class="url" ng-if="!!credits.url"><a target="_blank" ng-href="{{credits.url}}">{{credits.url}}</a></div>
    <div class="author">{{credits.author}}</span>
      <div class="licenses">
        <div class="license" ng-repeat="l in credits.license">
          <a target="_blank" ng-href="{{l.url}}">{{l.name}}</a>
        </div>
      </div>
      <ng-include src="'creditList.html'"></ng-include>
    </div>
</section>
