<div class="ga-play" ng-if="!!gameWindow.visible" ga-map-color>
  <div element-slot="gameMap" ng-show="!!gameMap.visible" ng-style="gameMap.style" class="ga-map ga-the-center "></div>
  <div ng-include="'buttonBar.html'"></div>
  <div element-slot="mouseDisplay" class="ga-cursor" ng-show="!!mouseDisplay.visible">
    <div class="ga-tooltip" ng-if="!!mouseDisplay.tooltip">
      {{mouseDisplay.tooltip}}
    </div>
  </div>
  <div element-slot="combineBox" ng-include="'combineBox.html'"></div>
  <div element-slot="finalExit" ng-include="'finalExit.html'"></div>
  <div element-slot="radialMenu" ng-include="'radialMenu.html'"></div>
  <div element-slot="consoleWin" ng-include="'consoleWin.html'"></div>
  <div element-slot="settings" ng-include="'settingsBox.html'"></div>
  <div element-slot="items" ng-include="'invWin.html'"></div>
  <div element-slot="popup" ng-include="'popupBox.html'"></div>
  <div element-slot="commentBox" ng-include="'commentBox.html'"></div>
  <div element-slot="talk" ng-include="'bubbleBox.html'"></div>
  <div element-slot="confirmExit" ng-include="'confirmExitWin.html'"></div>
  <div element-slot="saver" ng-include="'savePopupWin.html'"></div>
  <div element-slot="autoSave" ng-include="'autoSaveWin.html'"></div>
</div>
