<div class="ga-greydismiss ga-overgrey" ng-click="items.dismiss('grey')" ng-if="!!items.visible"></div>
<div class="ga-picker ga-noselect" ng-class="{'ga-picker-empty':!!items.slide.length}" uib-collapse="!items.visible" expanded="items.expanded()" collapsing="items.collapsing()">
  <div ng-if="!items.slides.length" class="ga-noselect ga-picker-banner" ng-click="items.dismiss('click')">
    Your inventory is empty.
  </div>
  <div class="modal-body ga-carousel" ng-if="items.slides.length>0">
    <uib-carousel active="items.active">
      <uib-slide ng-repeat="slide in items.slides track by slide.idx" index="slide.idx">
        <div class="ga-slide ga-noselect">
          <img ng-src="{{slide.image}}" style="margin:auto;">
          <!-- <div class="carousel-caption">
            <h4>{{slide.name}}</h4>
          </div> -->
        </div>
      </uib-slide>
    </uib-carousel>
    <div class="ga-picker-caption ga-noselect">
      <p style="text-align: center;">&nbsp;{{items.name}}&nbsp;</p>
    </div>
  </div>
  <div class="ga-invbar" ng-if="!!items.actions" ng-show="!!items.barVisible">
    <a ng-repeat="action in items.actions track by action.id" class="btn btn-primary" uib-tooltip="{{action.name}}" ng-click="items.run(items.current(), action)" tooltip-placement="bottom" tooltip-class="ga-xtip">
      <i ng-class="action.iconClass"></i>
    </a>
    <!--no space between tags-->
    <a ng-if="!!items.combinable()" class="btn btn-primary" uib-tooltip="Use Item" ng-click="items.use(items.current())" tooltip-placement="bottom" tooltip-class="ga-xtip">
      <i ng-class="items.combinable().iconClass"></i>
    </a>
  </div>
</div>
